body {}

.lavagna {
    display: flex;
    flex-wrap: wrap;
    width: 820px;
    margin: 1rem;
    padding: 3rem;
    justify-content: space-evenly;
    align-content: space-between;
    background: grey;
    overflow: hidden;

}

.postit {
    width: 150px;
    height: 150px;
    display: inline-block;
    box-shadow: 2px 2px 5px 1px rgba(33, 33, 33, 0.5);
    margin: 1em;
    transition: transform 1s, boxshadow 0.5s ease-in-out;
}

.postit:hover {
    transform: scale(1.5);
    z-index: 100;
    box-shadow: 5px 5px 8px 3px rgba(33, 33, 33, 0.5); 
}

.postitDispari {
    transform: rotate(15deg);
    background: rgb(215, 157, 33);
    background: linear-gradient(0deg, rgba(215, 157, 33, 1) 0%, rgba(253, 187, 45, 1) 67%);
}

.postitPari {
    transform: rotate(-10deg);
    background: rgb(137, 33, 215);
    background: linear-gradient(0deg, rgba(137, 33, 215, 1) 0%, rgba(205, 45, 253, 1) 67%);
}

.postitText {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.postitText h2 {
align-content: end;
margin-top: 2em;
margin-bottom: 0;
justify-content: end;
}

.postitText p {
 margin-top: 1px;
}